table{
    border: 2px solid black;
    padding: 10px;
    width: 100%;
}
tr{
    border-style: solid;
    border-color: gray;
    width: 100%;
}
td{
    border: 1px solid gray;
    padding: 3px;
    width: auto;
}
th{
    text-align: left;
}
.rightAlign{
    text-align: right;
}